.btn {
  display: inline-block;
  position: relative;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  text-align: center;
  vertical-align: middle;
  @include button-size($btn-padding-y,$btn-padding-x,$btn-font-size,$btn-border-radius);
  border:$btn-border-width solid transparent;
  box-shadow: $btn-box-shadow;
  background-image: none;
  color:$body-color;
  white-space: nowrap;
  transition:$btn-transition ;
  cursor: pointer;
  &.disabled,
  &:disabled {
    cursor:not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * {
      pointer-events: none; // 不接受鼠标事件
    }
  }
}
.btn-lg {
  @include button-size($btn-padding-y-lg,$btn-padding-x-lg,$btn-font-size-lg,$btn-border-radius-lg);
}
.btn-sm {
  @include button-size($btn-padding-y-sm,$btn-padding-x-sm,$btn-font-size-sm,$btn-border-radius-sm);
}
.btn-primary {
  @include button-style($primary,$primary,$white);
}
.btn-danger {
  @include button-style($danger,$danger,$white);
}
.btn-default {
  @include button-style($white,$gray-400,$body-color,$white,$primary,$primary);
}
.btn-link {
  font-weight: $font-weight-normal;
  color:$btn-link-color;
  text-decoration: $link-decoration;
  // 不需要阴影
  box-shadow: none;
  &:hover {
     
    color:$btn-link-hover-color;
    text-decoration:$link-hover-decoration ;
  }
  &:focus,
  &.focus {
    color:$btn-link-hover-color;
    text-decoration:$link-hover-decoration ;
  }
  &:disabled,
  &.disabled {
    cursor:not-allowed;
    color: $btn-link-disabled-color;
    pointer-events: none;
  }
}